
.mainButton {
  background-color: #1A7FA8 !important;
}

.mainContainer {
  margin-top: 80px !important;
  padding: 0 205px !important;
  margin-bottom: 70px !important;
  max-width: 1800px !important;
}

.deleteButton {
  margin-left: 15px !important;
  border: 1px solid #9D100D !important;
  color: black !important;
  background-color: #fcd9e0 !important;
}

.deleteButton:hover {
  border: 1px solid #9D100D !important;
  color: white !important;
  background-color: #9D100D !important;
}

.card-body .table {
  margin-top: 25px;
}

.pagination span {
  background-color: #1A7FA8 !important;
  border-color: #1A7FA8 !important;
  color: #1A7FA8;
}

a.page-link {
  color: #1A7FA8;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableHead {
  background-color: #eaf7fc !important;
}

.validation-error {
  color: #dc3545;
  font-size: 80%
}

.active-page-modal {
  background-color: #1A7FA8 !important;
  border-color: #1A7FA8 !important;
}

.page-size {
  float: right;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #b3b4bc !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #b3b4bc !important;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #b3b4bc !important;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #b3b4bc !important;
}
